/*
=================================================
Modules
================================================= 
*/
@use "@styles/base/settings" as *;
@use "@styles/functions/token-prefix" as *;
@use "@tools/mixins/layout/breakpoint" as *;

/*
=================================================
Main
================================================= 
*/
.main {

	.support-image {
		opacity: .7;
	}

	.page-nav {
		display: none;
		@include breakpoint("lg", $breakpoints) {
			display: block;
			position: sticky;
			top: token(space-md-3);
		}

		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

}


/*
=================================================
Astro Components
================================================= 
*/
.featured-work {

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		margin: 0 0 token(space-md-3) 0;

		&:last-child {
			margin: 0;
		}
	}
	&__content {
		display: flex;
		gap: token(space-sm-5);
		& > p {
			margin: 0;
			transform: translateY(-6px);
		}
	}
	&__link {
		background: token(color-surface-brand);
		padding: token(space-xs-5) token(space-sm-2);
		color: token(color-content-inverse);
		align-self: flex-start;
	}
	&__icon {
		font-size: 3rem;
		width: auto;
	}
}

.card-row {
	margin-top: token(space-md-1);
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		margin: 0;
		padding: 0;
		display: flex;
	}
}

.headline__hr:after {
	content: "";
	border-bottom: 8px solid token(color-surface-brand);
	width: 180px;
	display: block;
	padding-top: token(space-md-2);
}

.company-icons {
	display: flex;
	justify-content: space-around;
	margin-top: token(space-md-1);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__label {
		font-size: token(type-size-fine);
		margin: token(space-xs-3) 0 0 0;
	}
}

.point-list {
	margin: 0;
	padding: 0;
	
	&__item {
		margin: 0;
		list-style: none;
		.point-list__description:last-child {
			margin-bottom: 0;
		}
	}
}

.detail-list {
	margin: 0;
	padding: 0;

	&__item {
		margin: 0;
		list-style: none;
		background: token(color-surface-subtle);
		padding: token(space-md-1);
		
		.detail-list__description:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		margin-bottom: token(space-md-1);
		color: token(color-content-subtle);
		font-size: 2.25rem;
	}
}

.bullet-list {
	margin: 0;
	padding: 0;

	&__item {
		list-style: none;
		border-bottom: 1px solid token(color-border-default);
		margin: 0 0 token(space-md-1) 0;
	}

	&__content {
		margin-bottom: token(space-md-1);
	}

	&__icon {
		color: token(color-content-subtle);
		font-size: 2.25rem;
	}

	&__heading {
		display: block;
	}

	&__description {
		display: block;
	}
}

.work-contribution {
	background: token(color-surface-subtle);
	padding: token(space-md-1);
}