---
import CardRow from "./CardRow.astro";

const { grid, spacing, class: className, component } = Astro.props;

const componentMap = {
	CardRow
}
const Component = component?.type
	? componentMap[component.type as keyof typeof componentMap]
	: null;

const classList = [
	"grid", 
	grid, 
	spacing,
	className,
].filter(Boolean).join(' ');
---

<div class="container">
	<div class={classList}>
		<slot />
		{Component && <Component {...component} />}
	</div>
</div>
