---
const { items = [] } = Astro.props;
---

<div class="point-list">
  {items.map((item: any, index: any) => (
    <div class="point-list__item flex gx-md-3">
      <div class="point-list__number display-1">
        {String(index + 1).padStart(2, '0')}
      </div>
      <div class="point-list__content">
        <h3 class="point-list__heading mb-xs-5">{item.title}</h3>
        <p class="point-list__description">{item.description}</p>
      </div>
    </div>
  ))}
</div>
